#hkdigital_binding_info .check-box input[type="checkbox"] {
    display:none;
}
#hkdigital_binding_info .check-box input[type="checkbox"] + label .check {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #999999;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 4px;
    color: #ffffff;
    margin:0 8px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
#hkdigital_binding_info .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#hkdigital_binding_info .check-box input[type="checkbox"] + label .check svg {
    display: none;
    width: 10px;
    height: 8px;
}
#hkdigital_binding_info .check-box input[type="checkbox"]:checked + label .check {
    background-color: #0075ff;
    border-color: #0075ff;
}
#hkdigital_binding_info .check-box input[type="checkbox"]:checked + label .check svg {
    display: block;
}
#hkdigital_binding_info .check-box label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#hkdigital_binding_info .card_payment_title {
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 600;
}
#hkdigital_binding_info .card_payment_title.card_page {
    font-size: 16px;
}
#hkdigital_binding_info .card_payment_second.card_page {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 13px;
}
#hkdigital_binding_info .card_payment_list {
    list-style-type: none;
    padding-left: 0;
}
#hkdigital_binding_info .card_item {
    position: relative;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#hkdigital_binding_info .card_item .hk-remove-card-ameria {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    display: none;
}
#hkdigital_binding_info .card_item:hover .hk-remove-card-ameria {
    display: block !important;
}
#hkdigital_binding_info .card_payment_list label, #hkdigital_binding_info .card_payment_list .card_subTitile {
    font-weight: 600;
    font-size: 13px;
}
#hkdigital_binding_info .card_payment_list .card_subTitile {
    font-size: 16px;
}
#hkdigital_binding_info .card_item .card_logo {
    max-height: none;
    height: 30px;
    margin-left: auto;
    width: 30px;
    -o-object-fit: contain;
    object-fit: contain;
}
#hkdigital_binding_info .card_item .card_logo.big_img {
   height: 50px;
    width: 50px;
}

@media all and (max-width: 767px){
    #hkdigital_binding_info .card_payment_list .card_subTitile {
        font-size: 14px;
    }
    #hkdigital_binding_info .card_item .card_logo.big_img {
        height: 30px;
        width: 30px;
    }

}